.page {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: black;
}

.body {
    max-width: 1280px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
}

body {
    display: block;
}

.header {
    background-color: rgb(193, 197, 220);
}

.navigation {
    position: relative;
    padding: 20px;
    left: 15%;  
}

.nav_ul {
    margin: 0;
    padding: 4px;
}

.nav_item {
    display: inline;
    font-size: 25px;
    padding: 30px;
}

h1 {
    text-align: left;
    color: rgb(16, 7, 15);
}

h2.sec_title {
    color: rgb(31, 15, 78);
    background-color: darkgray;
    padding-left: 30px;
}

img {
   /* display: block; */
    margin: 0 auto; 
    height: 350px;
    width: 270px;
}

.main {
    position: relative;
}

/*.main_inline {
    display: inline-block;
}*/

.main_content_left {
    display: inline-block;
    margin-top: 0;
    position: relative;
    bottom: 650px;
    width: 280px;
}

.main_content_right {
    display: inline-block;
    position: relative;
    
}

.about_me {
    display: inline-block;
    width: 950px;
}

pre {
    margin: 0;
    line-height: 1.3;
}

.footer {
    background-color: rgb(193, 197, 220); 
    margin-top: 0px;
}

.footer_inline {
    display: inline-block;
}

.url_github {
    display: inline-block;
    padding-left: 50px;
    position: relative;
    bottom: 40px;
    font-size: 20px;
    font-weight: bold;
}

.year {
    display: inline-block;
    margin: 0 auto;
    width: 10px;
    height: 100%;
    padding-left: 400px;
    padding-right: 400px;
    position: relative;
    bottom: 40px;
    left: 50px;
    font-size: 20px;
    font-weight: bold;
       
}

.img_rsschool {
    display: inline-block;
    width: 200px;
    height: 100px;
    padding-left: 100px;
    
}